{% extends "base.html" %}

{% block content %}
    <!-- Functionality Title -->
    <h1 class="functionality-title">{{ "Your Flavorful Surprise" if session['lang'] == 'en' else "Votre Surprise Savoureuse" }}</h1>
    
    <!-- Dish Title -->
    <h2 class="dish-title">{{ recipe['plat_' + session['lang']] }}</h2>

    <p><strong>{{ "Type" if session['lang'] == 'en' else "Type" }}:</strong> {{ recipe.types }}</p>
    <p><strong>{{ "Category" if session['lang'] == 'en' else "Catégorie" }}:</strong> {{ recipe.categories }}</p>
    
    <!-- Display the country of origin -->
    <p><strong>{{ "Country of Origin" if session['lang'] == 'en' else "Pays d'origine" }}:</strong> {{ recipe['country_of_origin'] }}</p>
    
    <h2>{{ "Ingredients" if session['lang'] == 'en' else "Ingrédients" }}</h2>
    <ul>
        {% for ing in ingredients %}
            <li>
                {{ ing.ingredient }} -
                {% if ing.quantity %}
                    {{ ing.quantity }}
                {% else %}
                    {{ "Feel free to adjust to taste" if session['lang'] == 'en' else "À ajuster selon vos préférences" }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <h2>{{ "Instructions" if session['lang'] == 'en' else "Instructions" }}</h2>
    <ol>
        {% for step in instructions %}
            <li>{{ step.instruction }}</li>
        {% endfor %}
    </ol>
    
    <div class="buttons">
        <div><a href="{{ url_for('surprise_me') }}">
            {{ "Other Dish" if session['lang'] == 'en' else "Autre plat" }}
        </a></div>
        <div><a href="{{ url_for('index') }}" class="back-button">
            {{ "Back to Main Menu" if session['lang'] == 'en' else "Retour au menu principal" }}
        </a></div>
    </div>
{% endblock %}
